{% extends 'main.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <style>
        .center-text {
            text-align: center;
        }
    </style>

</head>
<body>

    {% block content %}
        <div class="center-text">
            <form class="form" action="" method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete this note?</p>
                <button type="submit" class="btn btn-success" name="Yes">Yes</button>
                <button type="submit" class="btn btn-danger" name="Cancel">Cancel</button>
            </form>
        </div>
    {% endblock %}

</body>
</html>